@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200..500&display=swap');

body {
    font-family: -apple-system, "Inter Tight", sans-serif;
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
}

.container {
    aspect-ratio: 9/16;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 5rem;
    max-width: 400px;
}

.operations {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    grid-column: span 4;
    cursor: default;
    font-size: 1.5rem;
    text-align: right;
}

.display-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: flex-end;
    font-weight: 250;
    font-size: 6rem;
    grid-column: span 4;
    cursor: default;
}

.display {
    transform-origin: right;
    padding: 0 1.2rem;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.calculator > div {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s ease-in-out;
    user-select: none;
}

.calculator > div:hover {
    transition: 0s;
}

div.number {
    background-color: #333333;
}

div.number:hover {
    background-color: #737373;
}

div.operand,
div.equal {
    background-color: #ff9f0a;
    font-size: 1.2em;
}

div.operand.active,
div.equal.active {
    background-color: white;
    color: #ff9f0a;
}

div.operand:hover,
div.equal:hover {
    background-color: #fcc78d;
}

div.function {
    background-color: #a5a5a5;
    color: black;
    font-size: .8em;
    font-weight: 500;
}

div.function:hover {
    background-color: #d9d9d9;
}

#n0 {
    grid-column: span 2;
    width: 10.25rem;
    padding-left: 1.75rem;
    justify-content: flex-start;
}